In [129]:
import pandas as pd

# Урок 2. Введение в подготовку данных для аналитиков. Таблицы фактов и таблицы измерений

## Задание 1

Скачайте датасет fifаs2.сsv.

Проанализируйте его и определите, какие данные являются неполными.

Удалите ненужные колонки и недостающие значения.

### Решение

In [130]:
# Загрузим данные
df = pd.read_csv('fifa_s2.csv')

In [131]:
# Количество строк и столбцов датасета
df.shape

(2399, 18)

In [132]:
# Первые 5 строк датасета для ознакомления
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0

In [133]:
# Общая информация по таблице (типы данных, заполненность)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [134]:
# Количество пустых значений по столбцам датасета
df.isna().sum()

ID                            0
Name                          0
Age                           0
Nationality                   7
Overall                       0
Potential                     0
Club                        241
Value                       257
Wage                          0
Preferred Foot                0
International Reputation     10
Skill Moves                   6
Position                     21
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                3
dtype: int64

In [135]:
# Трудно определить, какие колонки не нужны (в задании не указано, данные есть во всех). Удаляю рандомные столбцы
df = df.drop(['Potential', 'International Reputation', 'Skill Moves', 'Joined'], axis=1)
df.head()

,ID,Name,Age,Nationality,Overall,Club,Value,Wage,Preferred Foot,Position,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,Paris Saint-Germain,4000.0,77,Right,GK,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,FC Porto,1500.0,10,Left,NaN,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,CD Aves,750.0,5,Right,LCM,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,FC Bayern München,15500.0,110,Left,RM,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,Cambridge United,120.0,2,Right,ST,01/01/2019,6.333333,203.0,210.0

In [136]:
# Удалим строки с отсутствующими значениями
df = df.dropna()
df.isna().sum()

ID                      0
Name                    0
Age                     0
Nationality             0
Overall                 0
Club                    0
Value                   0
Wage                    0
Preferred Foot          0
Position                0
Contract Valid Until    0
Height                  0
Weight                  0
Release Clause          0
dtype: int64

-----------

## Задание 2

Найдите в датафрейме полные дубликаты и удалите их.

Значения могут быть одинаковыми, но написаны по-разному.

Например, может отличаться размер регистра (заглавные и строчные буквы).

Особое внимание уделить колонке с названиями команд.

### Решение

In [137]:
# Приведем строковые значения в верхний регистр
df['Name'] = df['Name'].str.upper()
df['Nationality'] = df['Nationality'].str.upper()
df['Club'] = df['Club'].str.upper()

# Проанализируем названия клубов
df['Club'].unique()

array(['PARIS SAINT-GERMAIN', 'CD AVES', 'FC BAYERN MÜNCHEN',
       'CAMBRIDGE UNITED', 'CD TONDELA', 'JUVENTUS', 'CELTIC',
       'BSC YOUNG BOYS', 'MALMÖ FF', 'LAZIO', '1. FC KÖLN', 'BURY',
       'CARLISLE UNITED', 'MANCHESTER UNITED', 'BURTON ALBION', 'INTER',
       'CHELSEA', 'CAGLIARI', 'ARSENAL', 'CÁDIZ CF', 'AS MONACO',
       '1. FSV MAINZ 05', 'BURNLEY', 'MANCHESTER CITY', 'CD NACIONAL',
       'BRISTOL CITY', "CD O'HIGGINS", 'CD PALESTINO', 'BRESCIA',
       '1. FC KAISERSLAUTERN', 'BRISBANE ROAR', 'LIVERPOOL',
       'CD FEIRENSE', 'ASTON VILLA', 'ROMA', 'CARDIFF CITY',
       'CF RAYO MAJADAHONDA', 'CD TENERIFE',
       'CD UNIVERSIDAD DE CONCEPCIÓN', 'ATALANTA',
       'BORUSSIA MÖNCHENGLADBACH', 'BRIGHTON & HOVE ALBION', 'CD LUGO',
       'CD NUMANCIA', 'SEVILLA FC', 'CD LEGANÉS', 'CA OSASUNA',
       'LOKOMOTIV MOSCOW', 'BAYER 04 LEVERKUSEN', 'FC BARCELONA',
       'REAL MADRID', 'CENTRAL COAST MARINERS', 'CEREZO OSAKA',
       'FC PORTO', 'CHARLTON ATHLETIC', '1. FC UNION BERLIN', 'UDINESE',
       'CHANGCHUN YATAI FC', 'BRISTOL ROVERS', 'MILAN', 'FC BASEL 1893',
       '1. FC MAGDEBURG', 'CÓRDOBA CF', 'LIVINGSTON FC',
       'CF REUS DEPORTIU', 'BORUSSIA DORTMUND', 'CD HUACHIPATO',
       '1. FC HEIDENHEIM 1846', '1. FC NÜRNBERG', 'BURSASPOR',
       'CHAMOIS NIORTAIS FOOTBALL CLUB', 'CARPI', 'CD ANTOFAGASTA',
       'AS BÉZIERS', 'CD EVERTON DE VIÑA DEL MAR', 'FC HEIDENHEIM 1846',
       'AALBORG BK', 'CEARÁ SPORTING CLUB', 'CHAPECOENSE', 'FC KÖLN'],
      dtype=object)

In [138]:
# Обнаружим следующие дублирующиеся значения, написанные по-разному:
# 1. FC KÖLN - KÖLN
# 1. FC HEIDENHEIM 1846 - HEIDENHEIM
# Приведем их к единому виду
df['Club'].replace('FC KÖLN','1. FC KÖLN',inplace=True)
df['Club'].replace('FC HEIDENHEIM 1846','1. FC HEIDENHEIM 1846',inplace=True)

# Обнаружим дубликаты
df.duplicated().sum()

4

In [139]:
# Избавимся от дубликатов
df = df.drop_duplicates()
df.duplicated().sum()

0

-----------

## Задание 3

Напишите функцию, которая добавит колонку с разбиением возраста по группам:

до 20, от 20 до 30, от 30 до 36 и старше 36.

Посчитайте количество футболистов в каждой категории.

### Решение

In [140]:
# Напишите функцию, которая добавит колонку с разбиением возраста по группам
def age_range(age):
    if age <= 20:
        return '< 20'
    if 20 < age <= 30:
        return 'from 20 to 30'
    if 30 < age <= 36:
        return 'from 30 to 36'
    if age > 36:
        return '> 36'

In [141]:
# Добавим колонку с разбиением футболистов по возрастным группам
df['Age_category'] = df['Age'].apply(age_range)

df

,ID,Name,Age,Nationality,Overall,Club,Value,Wage,Preferred Foot,Position,Contract Valid Until,Height,Weight,Release Clause,Age_category
0,1179,G. BUFFON,40,ITALY,88,PARIS SAINT-GERMAIN,4000.0,77,Right,GK,01/01/2019,6.333333,203.0,7400.0,> 36
2,8205,BRAGA,35,PORTUGAL,70,CD AVES,750.0,5,Right,LCM,01/01/2019,5.916667,165.0,1600.0,from 30 to 36
3,9014,A. ROBBEN,34,NETHERLANDS,84,FC BAYERN MÜNCHEN,15500.0,110,Left,RM,01/01/2019,5.916667,176.0,25600.0,from 30 to 36
4,19521,J. IBEHRE,35,ENGLAND,61,CAMBRIDGE UNITED,120.0,2,Right,ST,01/01/2019,6.333333,203.0,210.0,from 30 to 36
5,20209,RICARDO COSTA,37,PORTUGAL,74,CD TONDELA,750.0,4,Right,LCB,01/01/2019,6.000000,181.0,1600.0,> 36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,246465,GUERRERO,16,SPAIN,63,CF RAYO MAJADAHONDA,625.0,1,Left,CM,01/01/2019,5.916667,165.0,1400.0,< 20
2395,246594,H. MASSENGO,16,FRANCE,62,AS MONACO,450.0,2,Right,CDM,01/01/2021,5.833333,146.0,1100.0,< 20
2396,246599,GUILLEM JAIME,19,SPAIN,64,FC BARCELONA,975.0,13,Right,RW,01/01/2020,5.833333,154.0,2600.0,< 20
2397,246606,FRAN GARCÍA,18,SPAIN,64,REAL MADRID,825.0,9,Left,LB,01/01/2019,5.583333,139.0,2200.0,< 20
2398,246608,FIDALGO,21,SPAIN,65,REAL MADRID,875.0,20,Right,CM,01/01/2019,5.750000,150.0,2000.0,from 20 to 30

In [142]:
# Посчитаем количество футболистов в каждой возрастной категории
df['Age_category'].value_counts()

Age_category
from 20 to 30    1393
< 20              391
from 30 to 36     281
> 36               10
Name: count, dtype: int64